@font-face {
  font-family: "NewFont01";
  src: url("fonts/MeriendaOne-Regular.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  header{
    height: 110px;
    text-align: center;
    padding-top: 20px;
  }
  
  a{
    color: rgb(253, 255, 251);
    text-decoration: none;
    transition: 0.3s;
  }
  
  header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index:10;
    
  }

  a:hover {
    opacity: 0.7;
    
  }
  
  .logo {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  nav a:hover{
    transition: 0.8s;
    background-color: rgb(227, 230, 58);
    color: rgb(3, 13, 20);
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #1d374762;
    height: 10vh;
  }
  
  main {
    background: url("imgs/estádio.jpg.jpg") no-repeat center center;
    
    background-size: cover;
    height: 300vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;

  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 75px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 20px;
    height: 15px;
    background: rgba(236, 9, 9, 0.548);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #2f4064;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .planos-iptv {
    margin-left: 25px;
    border-radius: 15px;
    background-color: rgba(127, 28, 160, 0.04);
  }

  .duvidas-faq {
    width: auto;
    margin-left: 16.5%;
    margin-bottom: 1%;
  }

  .collapse {
    width: 75%;
  }

  .title-faq {
    margin-left: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .btn {
    margin-top: 10px;
  }

  .button-buyplan {
    height: 50px;
  }

  .card-body {
    width: 100%;
    margin-left: 5px;
  }

  .list-planos {
    margin-bottom: 10px;
  }

  .title-text {
    font-family: NewFont01;
    color: #2f4064;
  }

  .sub-title {
    font-family: 'NewFont01';
/*     text-transform: uppercase; */
    font-size: 42px;
    margin-top: 50px;
    text-decoration: dotted;
    text-shadow: #2f4064;

  }
  
  .banner-area-section.home-2{
    padding-top: 170px;
    padding-bottom:0px;
  }

  .features-icon{
    text-align: center;
  }

  .features-icon img{
    position: relative; 
    width: 100%;
    max-width: 100%;
    z-index: 1;
    vertical-align: middle;
    margin-top: -40%;
  }

  .extra-left-content{
    margin-top:0px;
  }

  .extra-features-section .section-content{
    padding-top:60px;
  }

  .hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
  }

  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }

  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }

  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

  
    .menu-bg-overlay{
      background: rgba(0, 0, 0, 0) linear-gradient(to right, #EE0979 0%, #FF6A00 100%) repeat scroll 0 0;
    }
    .main-menu-container.tbg .main-menu .navbar-default .navbar-nav>li>a{
      color: #753636;
    }
    .main-menu .navbar-default .navbar-nav>li>a:after{
      background-color:#FFFFFF;
    }			
    .banner-area-section.home-2{
      background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(44, 1, 100) 0%, #141414 100%) repeat scroll 0 0;
    }
    .banner-area-head h1{
      color: #FFFFFF;
    }
    .banner-text{				
      color: #FFFFFF;
    }
    .banner-area-head span{				
      color: #FFFFFF;
    }

    .navbar {
      height: 120px;
      margin-bottom: 5px;
    }

  .title-planos {
    width: 100%;
    text-align: center;
  }
  
  .botao_banner{
    display: inline-block;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:100px;
    padding-right:100px;
    background-color: #11ad86;
    color: white;
    font-family: NewFont01;
    color: #333333;
    border-radius:8px;
  }

  .button-faleconosco {
    margin-left: 38%;
  }

  .pb30 {
    margin-left: 15%;
  }

  .landy-pricing{
    box-shadow: 0px 2px 160px 0px rgba(127, 28, 160, 0.7);
    margin: 0px;
  }
  .landy-pricing .pricing-price .content-price{
    font-size: 42px;
    margin-top: 100px;
  }
  .landy-pricing .content-title{
    font-size: 26px;
  }
  .landy-pricing-content-desc li{
    margin-bottom: 10px;
    font-size: 14px;
  }

  .div_form{
    margin-bottom: 25px;
  }

  .div_form label{
    font-weight: 500;
    font-size: 15px;
  }

  .acordeon_titulo{
    font-size: 20px;
    margin-top:10px;
    color: #333;
    font-weight: 500;
  }
  .acordeon_descricao{
    margin-left: 13px;
    margin-right: 13px;
  }

  a.botoes_redes{ 
    display: inline-block;
    margin-left:20px;              
    margin-bottom: 20px;
    color: #666;
  }
  a.botoes_redes i{
    font-size: 46px;
    display: inline-block; 
    color: #666;
  }


  .submenu{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #EE0979 0%, #FF6A00 100%) repeat scroll 0 0;			 

    position: absolute;
    top:55px;
    left:0px;
    width:200px;
    padding: 10px;
    border-radius: 3px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: none;
  }
  .submenu li{			
    list-style: none;
    width: 100%;
  }
  a.submenu_link{
    font-size: 15px !important;
    line-height: 15px !important;
    padding: 0px !important;
    margin: 0px !important;
    padding-top:10px !important;
    padding-bottom:5px !important;
  }	
  a.submenu_link:after{
    top:30px !important;
  }

  .main-menu-container.tbg .main-menu .navbar-default .navbar-nav>li:hover .submenu{
    display: block !important;
  }

  .card-title {
    font-family: NewFont01;
    font-size: 30px;
  }

  .card-sub-title {
    font-family: NewFont01;
    font-size: 20px;
    color: darkgreen;
  }
    
  .card-body {
    margin-left: 10px;
  }

  #div-fixa {
    position: relative;
    bottom: 30;
    margin: 30px;
    background: rgb(71, 73, 72);
    width: 2;
    border-radius: 70px;
    cursor: pointer;
  
  }
  
  
  #div-fixa img {
    width: 100px;
    height: 100px;
  }
  
  #div-fixa a .flex-itens {
    display: flex;
    align-items: center;
  }
  
  
  #div-fixa a .flex-iten span{
    display: block;
    font-weight: bold;
    color: #0d11e4;
    margin-left: 5px;
  
  }
  
  .flutuar {
    animation-name: flutuar;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  animation-timing-function: ease-in-out;
  
  }
  
  @keyframes flutuar {
      from {
          transform: translate3d(0, 0, 0);
          filter: brightness(100%);
  }
  to {
          transform: translate3d(0, -25px, 0);
          filter: brightness(150%);
  }
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao {
  min-width: 400px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #f2f2f5;
  background: #4FD1C5;
background: linear-gradient(90deg, rgb(1, 65, 56) 0%, rgb(1, 61, 55) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(201, 195, 201, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

botao::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.botao:hover, .botao:focus {
  color: #9ab942;
  transform: translateY(-6px);
}

botao:hover::before, botao:focus::before {
  opacity: 1;
}

botao::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #03614e;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

botao:hover::after, botao:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.btn_social { 
	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}
.btn_social ul  { 
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}
.btn_social ul li  { 
	position:relative; 
	background:#555555; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}
.btn_social ul li a  { 
	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;
}
.btn_social ul li::before { 
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#2fcacf; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}
.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#555555; }


.main_footer_copy {
  margin-left: 40%;
}

.logomarca {
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item {
  font-family: NewFont01;
  margin-left: 10%;
}

.nav-item:hover {
  background: transparent;
}

.back-to-top {
  color:black; /* alterar cor do botão */
  position: fixed;
  z-index: 999;
  bottom: 2rem; /* posição vertical: quanto maior, mais para cima */
  right: 1rem; /* posição horizontal: quanto maior, mais para esquerda */
  display:none;
  }
  .back-to-top:active, .back-to-top:focus, .back-to-top:hover {
  text-decoration: none;
  color:#afb3b0; /* alterar cor do botão quando o mouse estiver em cima ou mobile */
  }
  
  .back-to-top i {
  font-size: 3em; /* alterar tamanho do botão */
  }